.card_container {
  > .img_container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  > div {
    width: 100%;
    > * {
      width: 100%;
    }
    h4 {
    }
    p {
    }
    time {
      text-align: right;
      font-size: 0.8rem;
    }
  }
}

.img_container {
  width: 100%;
  overflow: hidden;
}
